html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container {
    height: 100%;
    background: lightblue;

    .my-title {
        font-weight: 500;
    }

    .inner-container {
        justify-content: flex-end;

        input, button {
            border-radius: 15px;
        }
    }
    
    .card {
        border-radius: 15px;
    }
}







